{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Blog</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog is made via the help of ZURI TEAM and Django Central, click on both links to learn more</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Django Central</a>
        <a href="https://twitter.com/theZuriTeam"
           class="btn btn-danger">Zuri Twitter Handle</a>
    </div>
</div>
</div>

{% endblock sidebar %}